html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "HG丸ｺﾞｼｯｸM-PRO";
}

#headerBox{
    background-color: aliceblue;
    width: 100vw;
    height: 10vh;
}

#mainBox{
    background-color: antiquewhite;
    width: 100vw;
    height: 80vh;
}

#footerBox{
    background-color: aqua;
    width: 100vw;
    height: 10vh;
}